<style>
    table {
        border-collapse: collapse;
        border: 1px solid #ddd;
        border-radius: 6px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }

    th,
    td {
        text-align: start;
        padding: 8px;
    }

    td {
        border-bottom: 1px solid #ddd;
    }

    th {
        border-bottom: 2px solid #ddd;
    }
</style>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td><strong>{{id}}</strong></td>
            <td>{{name}}</td>
            <td>{{priceFormat}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>