:root {
    --sidebar-width: 260px;
}

body, html {
    height: 100%;
}

.app {
    display: flex;
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
    padding: 24px;
    overflow-y: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: var(--sidebar-width);
}

.sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar-toggle {
    display: none;
    font-size: 14px;
    padding: 14px;
}

.sidebar-logo .app-name {
    font-size: 18px;
}

.sidebar-bottom {
    margin-top: auto;
}

.sidebar-menu-item a {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #333;
}

.sidebar-menu-item.sidebar-menu-item-bottom {
    margin-top: auto;
}

.sidebar-menu-item.active,
.sidebar-menu-item.active a {
    color: #eee;
    background: #333;
}

.sidebar.sidebar-collapsed {
    width: 0;
    overflow: hidden;
}

.bg-list {
    background-color: #f8f9fa;
}

.shadow-card {
    box-shadow: 2px 2px #DCDCDC;
}

.table-action {
    padding: 8px;
    cursor: pointer;
}

@media (max-width: 992px) {
    .sidebar-toggle {
        display: block;
    }

    .sidebar {
        z-index: 1;
        height: 100%;
        position: fixed;
        left: calc(0px - var(--sidebar-width));
        transition: left 0.2s ease-in-out;
    }
    
    .sidebar.active {
        left: 0;
        box-shadow: 1px 1px 6px rgba(0,0,0,0.15);
    }

    .sidebar:not(.active) .sidebar-toggle {
        position: absolute;
        width: 100px;
        left: calc(10px + var(--sidebar-width));
        top: 0;
    }
}