<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/logo.png" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{#if title }}
        {{ title }}
        {{else}}
        Figaro
        {{/if}}
    </title>

    {{> styles }}
</head>

<body>