<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif
        }
    </style>

    <title>
        {{#if title }}
        {{ title }}
        {{else}}
        Figaro
        {{/if}}
    </title>
</head>

<body>
    {{{ body }}}
</body>

</html>